@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section scripts {
  <script src="~/js/testModule.js"></script>
}

@section styles {
  <link rel="stylesheet" href="~/css/global.css" />
}

<div class="test-module">@Model.TestText</div>